@import"./Colors.css";

.account-books-section,
.profile-section {
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
}

.account-books-title,
.profile-info,
.profile-photo {
    grid-column: 1/-1;
}

.profile-section {
    background-color: var(--cream);
}

.profile-photo {
    border-radius: 50%;
    max-width: 10rem;
    margin: 0 auto;
}

.profile-photo img {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    border: 1px solid black;
}

.profile-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-books-section .no-books-found {
    text-align: center;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.account-books-section .no-books-found h3{
    color: gray;
}

@media (min-width: 1000px) {
    .profile-info {
        grid-column: 3/8;
        align-items: start;
        grid-row-start:1;
    }

    .profile-info h2 {
        font-size: 2.5rem;
    }

    .profile-info p {
        font-size: 1rem;
    }

    .profile-photo {
        grid-column: 8/-3;
        grid-row-start:1;
        max-width: 20rem;
    }
}