@import "./Colors.css";

.books {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.book:disabled {
  cursor: auto;
  color: black;
}

.book hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.book {
  aspect-ratio: 14/20;
  cursor: pointer;
  padding: 1rem;
  border-radius: 13px;
  background-color: var(--green);
  border: 5px solid var(--light-green);
  display: flex;
  gap: .5rem;
  flex-direction: column;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
}

.book .title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.book .description {
  flex: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book .author {
  z-index: 10;
  box-shadow: 0 -30px 38px 10px var(--green);
  margin-top: auto;
  bottom: 0;
}

@media (min-width: 700px) {
  .books {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .books {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }

  .book {
    width: 200px;
    height: 300px;
    padding: 1.5rem;
  }
}
