@import "./Colors.css";

.books {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem
}

.book {
  overflow: hidden;
  cursor: pointer;
  width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  border-radius: 5%;
}

.book:hover {
  box-shadow: var(--shadow);
}

.book .text .title {
  font-weight: bold;
  font-size: 1.3rem;
}

.book .text {
  background-color: var(--morning-sky-blue);
  width: 100%;
  height: 100%;
}

.book-cover-container {
  aspect-ratio: 1;
  display: flex;
  position: relative;
  background-color: var(--gray);
}

.book-cover-container img {
  object-fit: contain;
  aspect-ratio: 1;
}

.book-cover-container .no-cover-message {
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;
  top: 50%;
  background-color: gray;
  color: var(--gray);
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 1000px) {}

@media (min-width: 1300px) {}