@import "./Colors.css";


.book:disabled {
  cursor: auto;
  color: black;
}

.books {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.book {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--green);
  border-radius: 13px;
  border: 5px solid var(--light-green);
  width: 140px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
}



.book .description {
  text-overflow: ellipsis;
  overflow: hidden;
}

.book .author {
  z-index: 10;
  box-shadow: 0 -30px 38px 10px var(--green);
  margin-top: auto;
  bottom: 0;
}

@media (min-width: 1000px) {
  .books {
    gap: 2rem;
  }

  .book {
    width: 200px;
    height: 300px;
    padding: 1.5rem;
  }
}

@media (min-width: 1900px) {}