.button {
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    padding: .3rem 1.5rem;
    font-size: 1.5rem;
    border: none;
}

.button-grullo {
    color: white;
    background-color: var(--grullo);
}

.button-marengo {
    color: white;
    background-color: var(--marengo);
}

.button-good {
    color: white;
    background-color: var(--green);
}

.button-danger {
    color: white;
    background-color: var(--red);
}

.button:hover {
    opacity: .8;
}

.button:active {
    opacity: .5;
}


.form-wrapper {
    display: flex;
    grid-column: 1/-1;
    height: 100%;
}

.form-wrapper .auth-form {
    width: 100%;
    display: grid;
    gap: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: white;
}

.global-loading-message{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.form-wrapper .auth-form input,
.form-wrapper .auth-form textarea {
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    background-color: var(--cream);
    border-radius: 10px;
}

.form-wrapper .auth-form textarea {
    resize: none;
    min-height: 5rem;
}

.form-wrapper .auth-form input[type="file"] {
    display: none;
}

.form-wrapper .auth-form .avatar {
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    max-width: 8rem;
}

.form-wrapper .auth-form .avatar::after {
    position: absolute;
    content: attr(data-icon);
    font-size: 2rem;
    right: -.5rem;
    transform: scaleX(-1);
    bottom: 0;
}

.form-wrapper .auth-form .avatar img {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    border: 1px solid black;
}


.form-wrapper .auth-form button {
    margin: 0 auto;
}

.book-search {
    grid-column: 1/-1;
}

.book-search .input {
    display: flex;
}

.book-search .input input {
    flex: 1;
    padding: .5rem;
    border: none;
}

.book-search .serach-result {
    color: black;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 15px;
}

.book-search .serach-result .result-item {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.book-search .serach-result .result-item:hover {
    background-color: rgb(224, 224, 224);
    ;
}

.book-search .serach-result .result-item:active {
    background-color: rgb(194, 194, 194);
    ;
}

.book-search .serach-result .result-item:hover .title-author::after {
    box-shadow: inset -105px 0px 43px -41px rgb(224, 224, 224);

}

.book-search .serach-result .result-item:active .title-author::after {
    box-shadow: inset -105px 0px 43px -41px rgb(194, 194, 194);

}

.book-search .serach-result .result-item .title-author {
    flex: 1;
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.book-search .serach-result .result-item .title-author h3 {
    font-size: 1.5rem;
}

.book-search .serach-result .error {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--red);
}

.book-search .serach-result .result-item .title-author::after {
    box-shadow: inset -105px 0px 43px -41px white;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
}

.book-search .serach-result .result-item .title-author p {
    font-size: .8rem;
}

.book-search .serach-result .result-item .price {
    font-size: 1.5rem;
    color: var(--green);
    font-weight: bold;
}

.book-form {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 2rem 1rem;
}

.book-form .description {
    resize: none;
    min-height: 15rem;
}

.book-form input[type="file"] {
    display: none;
}

.book-form .form-cover-wrapper {
    cursor: pointer;
    max-width: 20rem;
    background-color: var(--gray);
    grid-column: 1/-1;
    aspect-ratio: 1;
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.book-form .submit {
    margin: 0 auto;
    grid-column: 1/-1;
}

.book-form input,
.book-form textarea {
    font-size: 1rem;
    padding: .5rem;
}

.book-form label {
    text-align: right;
}

@media (min-width: 1000px) {
    .form-wrapper .auth-form {
        padding: 3rem;
    }

    .book-search {
        grid-column: 3/-3;
    }

    .book-search .input input {
        padding: .8rem;
        font-size: 1.2rem;
    }

    .book-search .serach-result .result-item {
        padding: 1rem;
    }

    .book-search .serach-result .result-item .title-author p {
        font-size: 1rem;
    }
}

@media (min-width: 1300px) {
    .form-wrapper {
        grid-column: -8/-2;
    }

    .book-form {
        grid-template-columns: auto 1fr 1fr;
    }

    .book-form .form-cover-wrapper {
        grid-column-start: 3;
        grid-row: 1/ span 4;
    }
}