@import "./Colors.css";

.accountDropDown,
.login {
    position: relative;
    font-size: 1.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--green);
    font-weight: bold;
    border: none;
    padding: .2rem 1rem;
    cursor: pointer;
}

.false .userName::after {
    content: "▲";
}

.true .userName::after {
    content: "▼";
}

.userIcon {
    background-color: var(--light-green);
    padding: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.false .dropDown {
    display: none;
}

.true .dropDown {
    display: block;
}

.dropDown {
    padding: 2rem 0;
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    background-color: var(--green);
    box-shadow: -3px 15px 15px rgba(0, 0, 0, 0.5);
}

.dropDown button {
    cursor: pointer;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    padding: .5rem .3rem;
    color: black;
    font-weight: bold;
    min-width: 100%;
}

.dropDown button:hover {
    background-color: var(--light-green);
}

@media (min-width: 900px) {

    .accountDropDown,
    .login {

        font-size: 1rem;
    }

    .dropDown {
        padding: 0;
    }

    .dropDown button {
        font-size: 1rem;
    }
}

@media (min-width: 1900px) {}