@import "./Colors.css";

.Home .home-heading {
    margin: 3rem 0;
}

.Home .home-heading .image-wrapper {
    border-radius: 50%;
    width: fit-content;
    background-color: var(--squid-ink);
    max-width: 300px;
    margin: 0 auto;
    grid-column: 1/-1;
}

.Home .home-heading .text-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-column: 2/-2;
}

.Home .home-heading .text-column .badge {
    font-size: .9rem;

    background-color: var(--bone);
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--davys-gray);
}

.Home .home-heading .text-column h1 {
    font-size: 2.5rem;
}

.Home .home-heading .text-column .cta {
    margin: 0 auto;
    margin-top: 1rem;
}

.Home .booksearch-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--squid-ink);
    color: white;
}

.Home .booksearch-section h2 {
    grid-column: 1/-1;
    font-size: 1.2rem;
}

.Home .bookmap-section {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    background-color: var(--cream);
}

.Home .bookmap-section h2 {
    grid-column: 1/-1;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.Home .bookmap-section h2 .colored {
    color: var(--orange);
}

@media (min-width: 1000px) {
    .Home .home-heading .image-wrapper {
        grid-column: 9/17;
        width: 100%;
        margin-right: 0;
        max-width: 400px;
    }

    .Home .home-heading .text-column {
        text-align: left;
        grid-column: 1/9;
        width: 100%;
        justify-content: center;
    }

    .Home .home-heading .text-column .badge {
        margin: 0;
    }

    .Home .home-heading .text-column .cta {
        margin-left: 0;
    }

    .Home .booksearch-section h2 {
        grid-column: 2/-2;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (min-width: 1300px) {
    .home-heading .image-wrapper {
        grid-column: 7/17;
        max-width: 550px;
    }


    .home-heading .text-column {
        text-align: left;
        grid-column: 1/7;
        width: 100%;
    }
}