.book-info-heading,
.book-info-body {
    grid-column: 1/-1;
}

.book-info-section {
    padding-top: 3em !important;
    padding-bottom: 4rem !important;
}

.book-info-section .book-info-heading h1 {
    font-size: 2rem;
}

.book-info-section .book-info-heading p {
    font-size: 1.2rem;
}

.book-info-section .book-info-heading a {
    font-size: .9rem;
}

.book-info-section .book-info-body .description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.book-info-section .book-info-body .cost {
    color: var(--green);
    font-weight: bold;
    font-size: 2rem;
}

.book-info-section .book-info-body .cta {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.book-info-section .book-info-body .book-lready-in-cart {
    display: flex;
    flex-direction: column;
}

.book-info-section .cover-wrapper {
    grid-column: 1/-1;
    max-width: 30rem;
    margin: 0 auto;
}

.book-info-section .permited-actions {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-top: 1px solid black;
    grid-column: 1/-1;
    grid-row-start: 4;
    padding-top: 3rem;
}

.book-info-section .book-not-found {
    grid-column: 1/-1;
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    text-align: center;
}

@media (min-width: 1000px) {

    .book-info-heading,
    .book-info-body {
        grid-column: 8/-1;
    }

    .book-info-section .cover-wrapper {
        grid-column: 1/8;
        grid-row: 1/ span 2;
    }

    .book-info-section .book-info-body .cta {
        flex-direction: column;
        gap: .5rem;
    }

    .book-info-heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .book-info-section .permited-actions {
        grid-row-start: 4;
    }

}