.booky{
    width: fit-content;
    margin: 0 auto;
    
}



.info {
    padding-bottom: 40px;
}

.cont {
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size:  large;
}

.tit{
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size:  large;
}


.desc {
    padding-top: 20px;
    padding-left: 40px;

}

.aut{
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size:  large;

}

.pric{
    margin-left: 400px;
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size:  large;
    
}

.price{
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    border-style: solid dashed solid dashed;
    border-color: #80ff80;
}

.price:hover{
    background-color: brown;
    border-color: greenyellow;
    border-style: solid;

}