@import './Colors.css';

.usersTable,
td,
th {
    border: 1px solid black;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    table-layout: auto;
    padding: .5rem;
}

.usersTable {
    border-collapse: collapse;
    background-color: var(--light-green);
}

.usersTable thead {
    color: white;
    background-color: var(--dark-green);
}

.additional {
    display: none;
}


@media (min-width: 700px) {

    .usersTable,
    td,
    th {
        padding: 1rem;
        table-layout: fixed;
    }

    .additional {
        display: table-cell;
    }
}

@media (min-width: 1000px) {}