@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* ---------{ Global Important Styles }--------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

:root {
  --global-background: #FAF1E4;
  --dark-green: #435334;
  --green: #9EB384;
  --light-green: #CEDEBD;
  --red: #BE3144;
  --gray: #D8D9DA;
}


.App {
  min-height: 100vh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  background-color: var(--global-background);
}

header,
footer {
  flex: 0;
  flex-shrink: 0;
}

.pages-wrapper {
  flex: 1;
}

ul {
  list-style: none;
}

a {
  color: white;
}

button {
  cursor: pointer;
  grid-column: 1 / -1;
  margin-left: auto;
  margin-right: 2rem;
  padding: .5rem 1rem;
  border: none;
  font-weight: bold;
  background-color: var(--light-green);
}

button:hover {
  background-color: var(--dark-green);
  color: white;
}

button:active {
  background-color: var(--light-green);
  color: white;
}

button:disabled {
  background-color: var(--gray);
  color: white;
  cursor: not-allowed;
}

/* ---------{ Navbar Styles }--------- */
header {
  padding: 0 4rem;
}

header .container {
  border-radius: 0 0 40px 40px;
  color: white;
  background-color: var(--dark-green);
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1rem;
}

@media (min-width: 1000px) {
  .logo {
    font-size: 2rem;
  }
}

@media (min-width: 1900px) {}


/* ---------{ Pages Styles }--------- */
.pages-wrapper {
  padding: 0 4rem;
}

.pages {
  max-width: 1000px;
  margin: 0 auto;
}

.books {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book {
  cursor: pointer;
  padding: 1.5rem;
  background-color: var(--green);
  border-radius: 13px;
  border: 5px solid var(--light-green);
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
}

.book .description {
  text-overflow: ellipsis;
  overflow: hidden;
}

.book .author {
  z-index: 10;
  box-shadow: 0 -30px 38px 10px var(--green);
  margin-top: auto;
  bottom: 0;
}

.error {
  text-align: left;
  grid-column: 1 / -1;
  font-weight: bold;
  text-decoration: underline;
  color: var(--red);
}

form {
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: var(--green);
  border-radius: 13px;
  border: 5px solid var(--light-green);
  gap: 0.5rem 1rem;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

form input {
  border-radius: 50px;
  border: none;
  padding: 10px;
  background-color: var(--global-background);
}

@media (min-width: 1000px) {
  form {
    grid-template-columns: auto 1fr;
    display: grid;
    align-items: center;
    text-align: right;
  }
}

@media (min-width: 1900px) {}

/* ---------{ Footer Styles }--------- */
footer {
  padding: 0 4rem;
}

footer .container {
  border-radius: 40px 40px 0 0;
  padding: 1.5rem;
  color: white;
  background-color: var(--dark-green);
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1000px) {}

@media (min-width: 1900px) {}

/* ---------{ Loading Spinner Animation }--------- */
.lds-spinner-wrapper {
  display: flex;
  justify-content: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--dark-green);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}